doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title My Notes
    link(rel="stylesheet", href="/css/reset.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
    link(rel="stylesheet", href="/css/style.css")
  body(class="expand")        
     block content